body{
    margin: 0px;
    padding: 0px;
    background-image: url(./downloadappimg\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vh;
    background-position:center;
}


.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(24, 24, 36);
    margin-top: 85%;
  
}

.footer dt{
    color: white;
    
}
.footer  dd{
    color:white
}
